.search-container {
  position: relative;
  /* display: none; */
}

.search-container-nonmobile {
  position: relative;
}

.search-container-mobile {
  position: relative;
  order: 0;
}
  
.search-container input {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 10px;
  background: white;
  font-size: 17px;
  border: solid grey;
  cursor: text;
}

.search-container button {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  outline: none;
  text-align: right;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
}

#search-icon {
  width: 40px; 
  height: 40px;
}

