.NavbarItems {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(6, 6, 7) 100%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;  /* 50% of your logo width */
  display: block;
  justify-self: center;
  /* cursor: pointer; */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: start;
  margin-right: 2rem;
}

.nav-links a {
  color: #EEEEEE;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links a:hover {
  background-color:violet;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

/* coming soon */
.nav-links-mobile { 
  display: none;
}

/* 
  This is needed so the navbar
  does not cover the rest of the
  webpage's content
*/
.navbar-margin {
  margin-bottom: 100px;
  color: white;
}
