.search-container{
  position:relative;
}
  
.search-container input{
  display:flex;
  justify-content: left;
  align-items: center;
  padding: 20px 10px;
  background: rgb(126, 124, 124);
  font-size: 17px;
  border: solid grey;
  cursor: pointer;
}

.search-container button{
  position:absolute;
  right: 20px;
  top: 10px;
  border:none;
  background:none;
  height:30px;
  width:30px;
  border-radius:100%;
  outline:none;
  text-align:right;
  font-weight:bold;
  padding:2px;
}