.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px green solid; */
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* border: 2px red solid; */
}

#search-page {
  /* border: 2px orange dashed; */
}


#top-matching-songs {
  /* border: 2px purple dotted; */
  width: 80%;
}

#top-matching-songs h2 {
  font-weight: normal;
  font-size: 3em;
}

#track-list {
  /* border: 2px blue dashed; */
  align-items: flex-start;
  background-color: rgb(182, 182, 182);
  min-width: 60%;
  max-width: 80%;
}

.track {
  /* margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: */
  padding: 20px;
  /* border: 2px orange dotted; */
  /* width: 80%; */
}

.track-image {
  height: 150px;
  width: 150px;
}

/* Used to center the info vertically */
.track-info-wrapper {
  align-items: center;
  margin-left: 60px;
  font-size: 24px;
  /* border: 2px red solid; */
}

.track-info {
  /* border: 2px white solid; */
}

.track-order {
  /* border: 2px black dashed; */
}

.track-name-and-artist {
  margin-left: 10px;
  align-items: flex-start;
  /* border: 2px yellow solid; */
}

.link-to-track a {
  color: black;
  text-decoration: none;
}

.link-to-track:hover {
  color: #3f3cf8;
  text-decoration: underline;
}

.track-name {
  /* border: 2px blue solid; */
}

.track-artist {
  /* border: 2px purple solid; */
}