.row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: center;
}

.col {
  align-items: center;
  width: 250px;
}

.SongDetails {
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: -17%;
}

.image {
  background-color: #555;
}

.songInfo {
  text-align: center;
  align-items: center;
}

.flexRowContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexRowContainer > .flexRowItem {
  flex: 0 0 10;
}

.flexRowItem:nth-child(even) {
  background: #aaa;
  flex: 1.5 1 15%;
}

.SongAlbum {
  text-align: center;
}

.songList {
  background-color: rgb(182, 182, 182);
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5em;
  padding-bottom: 4em;
}

.songNameRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: 1.25em;
  /* border: 2px red solid; */
}

.songNameCol {
  flex-direction: column;
}

.songPageTrackName {
  margin-left: 10px;
  /* border: 2px yellow solid; */
}

.playButton {
  text-align: center;
  align-items: center;
}

.playButtonImage {
  width: 50px;
  height: 50px;
}

.song {
  gap: 15%;
  margin-top: 5%;
}

p { 
  margin: 0
}