.row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.image-col{
  max-width: 100%;
  height: auto;
}

.desc-col {
  align-items: right;
  width: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.column {
  width: 250px;
  display: flex;
  align-items: start;
}

.genre-description {
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: -5%;
}

.genre-name {
  text-align: center;
  align-items: center;
  font-size: 0.5em;
}

.artist-name {
  align-items: center;
  font-size: 0.7em;
}

.track-name-and-artist {
  align-items: flex-start;
}

.track-index {
  vertical-align: top;
  padding: 10px;
  margin-top: -4%;
}

.genre-details {
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
}

.genre-header {
  font-weight: 600;
  font-size: 800%;
  margin-top: 0.05%;
  margin-bottom: 0.1%;
  
}
.image {
  background-color: #555;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-container > .flex-row-item {
  flex: 0 0 10;
}

.flex-row-item:nth-child(even) {
  background: #aaa;
  flex: 1.5 1 15%;
}

.Song-album {
  text-align: center;
}

.holder {
  background-color: rgb(182, 182, 182);
  justify-content: space-evenly;
}

.song-name {
  text-align: left;
  font-size:1.9em;
}

.link-to-track a{
  color: black;
  text-decoration: none;
}

.link-to-track a:hover {
  color: #3f3cf8;
  text-decoration: underline;
}

.play-button {
  text-align: center;
  align-items: center;
}

.play-button-image {
  width: 50px;
  height: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: none;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  background: rgb(104, 103, 103);
  color: rgb(253, 251, 255);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.song {
  gap: 15%;
  margin-top: 5%;
}

p { 
  margin: 0
}