/* Rows, columns, and containers */

.row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.column {
  width: 250px;
  display: flex;
  align-items: flex-start;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Genre Name */

.genre-name {
  text-align: center;
  align-items: center;
}

.genre-header { /* Change later */
  /* margin: 0; */
  font-weight: normal;
  font-size: 3em;
}

/* Genre Details */

.genre-details-container {
  background-color: rgb(182, 182, 182);
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  /* margin-top: 2%; */
  margin-bottom: 2%;
}

.genre-details-items {
  padding: 2%;
}

.description-col {
  margin-left: 5%;
  margin-right: 5%;
}

.image-col {
  width: 18.75em; /* 300 px */
}

.genre-description {
  text-align: center;
  font-size: 1em;
}

/* Genre Songs */

.Song-album {
  text-align: center;
}

.song-list-container {
  background-color: rgb(182, 182, 182);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.song {
  margin: 5%;
}

.song-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: none;
}

.song-image-container:hover .overlay {
  opacity: 1;
}

.image {
  background-color: #555;
}

.icon {
  background: rgb(104, 103, 103);
  color: rgb(253, 251, 255);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.song-name {
  text-align: left;
  font-size: 1.75em;
}

.track-index {
  vertical-align: top;
  padding: 10px;
  margin-top: -4%;
}

.track-name-and-artist {
  align-items: flex-start;
}

.link-to-track {
  color: black;
  text-decoration: none;
}

.link-to-track:hover {
  color: #3f3cf8;
  text-decoration: underline;
}

.artist-name {
  align-items: center;
  font-size: 0.75em;
}
