.About {
  text-align: center;
}

.About-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 0.5em;
}

.About-body {
  color: black;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
  background: #aaa;
  padding: 3em;
}

.About-link { /* Change this if theme gets updated */
  color: #575757;
}